<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
      SocialFeeds is a social networking app built using Ruby on Rails. It's free &amp; completely open source social network management tool. You can check the source on <a href="https://github.com/sagarvi-dev/socialfeeds"><%= fa_icon 'github' %> Github</a>. 
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      SocialFeeds is an social network management tool to manage multiple social networking sites at single account. User can get their timeline info and create posts. It supports different social network providers sites like <%= fa_icon 'facebook' %> &nbsp;facebook, <%= fa_icon 'twitter' %>&nbsp;Twitter,<%= fa_icon 'instagram' %>&nbsp;Instagram, <%= fa_icon 'linkedin' %>&nbsp;LinkedIn, <%= fa_icon 'google-plus' %>&nbsp;Google+.   
    </p>
    <br>
    <h3>How?</h3>
    <p>
      It connects to social network provider web api, with Oauth Access token user can authorize the application to access their social network profile. Different ruby gems are used at key resources for app development.  
    </p>
    
  </div>
</div>